<p>
  <table>
  <tr><td> From1 </td><td>
  <%= text_field_tag('settings[from1]', @settings['from1'], :size => 100)%>
  </td></tr>
  <tr><td> To1 </td><td>
  <%= text_field_tag('settings[to1]', @settings['to1'], :size => 100)%>
  </td></tr>
  </table>
</p>